<div class="container px-5 px-sm-0 pt-3">
  <div class="row">
    <div class="col-md-8 offset-md-1">
      <h1>Search results</h1>

        <% if @range == '1' %>
          <%= render 'users/users', users: @users %>
        <% else %>
          <%= render 'books/books', books: @books %>
        <% end %>

    </div>
  </div>
</div>